/* Light mode */
:root[data-theme="light"] {
  --theme: #f7f7f7; /* ページ背景 */
  --code-bg: #f7f7f7; /* ページ背景 (/, /posts/) */
  --entry: #ffffff; /* カード背景 */
  /* カード背景 */
}

/* Dark mode */
:root[data-theme="dark"] {
  --theme: #1d1e20;
  --code-bg: #1d1e20;
  --entry: #2e2e33;
}